<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather for Orange, NSW</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <div id="forecasts">
        <h1>Weather for Orange, NSW</h1>
        <div v-for="forecast in forecasts">
          <h2>{{ forecast.prettyDate }}</h2>
          <p>{{ forecast.forecast.summary }}</p>
          <p v-if="forecast.forecast.temperatures.min">Min: {{ forecast.forecast.temperatures.min }}°{{ forecast.forecast.temperatures.units.charAt(0) }}</p>
          <p v-if="forecast.forecast.temperatures.max">Max: {{ forecast.forecast.temperatures.max }}°C</p>
        </div>
        <hr />
        <h3>Last updated: {{ lastUpdated.prettyTime }} on {{ lastUpdated.prettyDate }}</h1>
      </div>
    </div>
  </body>
  <script src="app.js"></script>
</html>
